<div id="swagger_sidebar">
    <div class="sticky-nav-placeholder">
        <div class="sticky-nav">
            <div class="osf-logo">
                <a href="https://api.osf.io"><img src="images/osf-logo.png" width="27"/> OSF API</a>
            </div>

            <div class="mobile-nav">
                <span class="select-label">API Reference: </span><span data-selected-value></span>
            </div>

            <div data-navigator>
                <div data-resource="" label="Tools">
                    <div class="item" data-tg-switch="">Swagger resource <span class="status"></span></div>
                </div>
                <div id="resources_nav">
                </div>
            </div>

            <p class="changes-disclaimer">
                {{#if info.contact.email}}
                    <span class='info_email' style="font-variant: small-caps">contact: </span>
                    <a href="mailto:{{info.contact.email}}?subject={{info.title}}">{{info.contact.email}}</a>
                    <br/>
                {{/if}}

                {{#if info.version}}
                    <span style="font-variant: small-caps">version: {{info.version}}</span>
                {{/if}}
            </p>

        </div>
    </div>
</div>

<div id='resources_container'>
    <ul id='resources' class="samples-collapsed"></ul>
</div>
