<div id="swagger_sidebar">
    <div class="sticky-nav-placeholder">
        <div class="sticky-nav">
            <div class="osf-logo">
                <a href="https://api.osf.io"><img src="images/osf-logo.png" width="27"/> OSF API</a>
            </div>

{{!--             <p class="changes-disclaimer">
                <span class='info' id='api_info'>
                    {{#if info}}
                        <span class="markdown">{{{info.description}}}</span>
                    {{/if}}

                </span>
            </p> --}}

            <div class="mobile-nav">
                <span class="select-label">API Reference: </span><span data-selected-value></span>
            </div>

            <div data-navigator>
                <div data-resource="" label="Tools">
                    <div class="item" data-tg-switch="">Swagger resource <span class="status"></span></div>
                </div>
                <div id="resources_nav">
                </div>
            </div>
        </div>
    </div>
</div>

<div id='resources_container'>
    <ul id='resources' class="samples-collapsed"></ul>
</div>
